@use "./colors" as *;
button {
    border: none;
    background-color: $darkBlue;
    border-radius: 5px;
    margin: 6.5vh auto;
    padding: .5em 1em;
    display: block;
    
    & a {
        color: white;
    }
}