@use "./colors" as *;
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
}

label{
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    border: 1px solid $lightGrey;
    border-radius: 5px;
    padding: .5em 1em;
}

textarea {
    height: 20vh;
    border: 1px solid $lightGrey;
    border-radius: 5px;
    padding: .5em 1em;
}

.form__btn{
    border: none;
    background-color: $darkBlue;
    border-radius: 5px;
    margin: 3.5vh auto;
    padding: .5em 1em;
    display: block;
}